<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fruits List</title>
  <link rel="stylesheet" href="/assets/css/styles.css">
</head>
<body>
  <h1>Fruits</h1>
  <a href="/fruits/new">Add New Fruit</a>
  <ul>
    <% fruits.forEach(fruit => { %>
      <li>
        <a href="/fruits/<%= fruit._id %>"><%= fruit.name %></a>
        <form action="/fruits/<%= fruit._id %>?_method=DELETE" method="POST">
          <button type="submit">Delete</button>
        </form>
      </li>
    <% }) %>
  </ul>
</body>
</html>
